
/* This is the size and location of the picture */
#container {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
  }

  /* helps the image move */
  #img {
    position: absolute;
    top: 0;
    left: 0;
    animation: moveImage 5s linear infinite;
  }
  /* helps the image move */
 @keyframes moveImage {
    0% { transform: translateX(0); }
    50% { transform: translateX(300px); }
    100% { transform: translateX(0); }
 }